.main  {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    background: #ffffff no-repeat center;
    border-radius: 16px;
  }

  .background{
    background: url("/static/images/MAIN.jpg") center fixed no-repeat;
    background-size: 100% auto;
  }
  .blur {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
  }